@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
* {
  font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(15, 28, 70);
}

#header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: rgba(91, 25, 153,0.253);
  box-shadow: 0 0 25px 25px rgba(91, 25, 153, 0.253);
  align-items: center;
  position: sticky;
  top: 0;
}

#header > * {
  display: block;
}
button {
  border: 0;
  padding: 8px;
  cursor: pointer;
  transition: all 100ms;
  border-radius: 40px;
  corner-shape: squircle;
}
button:hover {
  transform: scale(1.05);
  filter: brightness(1.5);
}
button:active {
  filter: brightness(0.8);
}


#header-logo {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: inline-block;
  color: white;
  font-size: 24pt;
}

#hero {
  padding: 100px 50px;
}

#hero > * {
  padding: 0;
  margin: 0;
}

#hero-text-1 {
  font-size: 72px;
  font-family: "Changa One", sans-serif;

}
#hero-text-2 {
  font-size: 32px;
  font-family: "Changa One", sans-serif;
  font-weight: 200;

}

#fineprint * {
  color:lightgray;
  font-size: 12px;
  text-align: center;
}

#server > p {
  padding: 0;
  margin: 0;
}
#server {
  text-align: center;
  padding: 50px 75px;
  background-color: rgba(155, 170, 255, 0.164);
}

#server-inv {
  font-size: 32px;
}
#server-px {
  font-size: 12px;
}
input {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  border: 3px inset white;
  padding: 10px !important;
  font-size: 24px;

}

#servercopier {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 24px 0;
}

#vers > button {
  margin: 5px;
  font-weight: 400;
  font-size: 18px;
}
#footer {
  margin: 10px;
}