.minecraftButton {
  all: unset;
  border: 2px solid #000000;
  background: #6F6F6F;
  font-size: 16px;
  color: white;
  padding: 8px 12px;
  font-family: 'Minecraftia', sans-serif;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 4px 4px 0px rgba(255, 255, 255, 0.5), inset -4px -6px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: box-shadow 0.06s ease;
}

.minecraftButton:active {
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.25), inset -4px -6px 0px rgba(255, 255, 255, 0.5);
}

